name: Dev - CI/CD
on:
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=30m
  tests:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
    - name: Run tests
      run: go run gotest.tools/gotestsum@v1 --junitfile junit.xml
    - name: Test Report
      uses: dorny/test-reporter@v2
      if: always()
      with:
        name: golang tests
        path: junit.xml
        reporter: java-junit
        fail-on-error: true
